<!doctype html>
<title>NYC Jazz Digest</title>

{% set bootstrap_version = '2.3.2' %}
{% set jquery_version = '1.11.1' %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>{% block title%}NYC Jazz Digest{% endblock %}</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/{{ bootstrap_version }}/css/bootstrap.min.css" rel="stylesheet" />
    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/{{ awesome_version }}/css/font-awesome.min.css" rel="stylesheet" >
    <link href="//netdna.bootstrapcdn.com/bootswatch/{{ bootswatch_version }}/{{ bootswatch_theme }}/bootstrap.min.css" rel="stylesheet" > -->
    <style>  </style> <!-- Bootstrap -->
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href="/static/css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    {% block style_block %}{# page-specific CSS #}{% endblock %}
    {% block head_script %}{# defer-incapable JS block #}{% endblock %}
</head>

<body>
    <div class="background-image"></div>


    <div class="center-top">
        <h1> NYC Jazz Digest</h1>
    </div>
    {% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <div class="alert alert-success"> {{ message }} </p>
        {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    {% block body %}{% endblock %}
    {% for field in form.errors %}
        {% for error in form.errors[field] %}
        <div class="alert alert-error">
            <strong>Oops...</strong> {{error}}.
        </div>
        {% endfor %}
    {% endfor %}
    <div class="centerblock">
        <form class="form-vertical" action="{{ url_for('home') }}" method="post">
            {{ form.hidden_tag() }}
            <!-- <p class="help-block">Email</p> -->
            <div class="input-prepend">
                <!-- <span class="add-on">@</span> -->
                {{ form.email(class="prependedInput", size="16", type="email", id="email", placeholder="EMAIL ADDRESS") }}
            </div>
            <div class="help-block">
                <button type="submit" class="signupbutton">Sign up</button>
            </div>
        </form>
    </div>
    {% endblock %}
</body>
