<!DOCTYPE html>
<html lang="en" class="no-js">
{% set bootstrap_version = '2.3.2' %}
{% set jquery_version = '1.11.1' %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>{% block title%}NYC Jazz Digest{% endblock %}</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/{{ bootstrap_version }}/css/bootstrap.min.css" rel="stylesheet" />
    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/{{ awesome_version }}/css/font-awesome.min.css" rel="stylesheet" >
    <link href="//netdna.bootstrapcdn.com/bootswatch/{{ bootswatch_version }}/{{ bootswatch_theme }}/bootstrap.min.css" rel="stylesheet" > -->
    <style>  </style> <!-- Bootstrap -->
    <link href="/static/css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    {% block style_block %}{# page-specific CSS #}{% endblock %}
    {% block head_script %}{# defer-incapable JS block #}{% endblock %}
</head>

<body>
    <form class="form-vertical" action="/signup" method="post">
        <p class="help-block">Email</p>
        <div class="input-prepend">
            <span class="add-on">@</span><input class="prependedInput" size="16" type="email", id="email">
        </div>
        <div class="help-block">
            <button type="submit" class="btn btn-large btn-info">Sign up</button>
        </div>
    </form>
<!--     <form action="/signup" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" />
        </div>
        <div>
            <label for="mail">E-mail:</label>
            <input type="email" id="mail" />
        </div>
        <div>
            <label for="msg">Message:</label>
            <textarea id="msg"></textarea>
        </div>
        
        <div class="button">
            <button type="submit">Send your message</button>
        </div>
    </form> -->
<!-- 
    <form method="post" action="/signup">
                  <label for="yourname">Please enter your name:</label>
                  <input type="text" name="yourname" /><br />
                  <label for="youremail">Please enter your email:</label>
                  <input type="text" name="youremail" /><br />
                  <input type="submit" />
                </form> -->
</body>
